<div
  id="cover"
  class="font-outfit-medium position-relative"
  style=" background-image: url('{{ coverPage() }}');"
>
  <div
    class="layer h-100 d-flex w-100 justify-content-center align-items-center"
  >
    <div class="content text-center text-white">
      <pre><h1 class="font-outfit-bold">{{title()}}</h1></pre>
      <pre><h2 class="font-outfit-medium">{{smallTitle()}}</h2></pre>
    </div>
  </div>
  <div
    class="svg position-absolute bottom-0 w-100 d-flex justify-content-center align-items-center"
  >
    <img src="Images/Vector.png" width="100%" alt="" />
  </div>
</div>
