
<nav class="navbar navbar-expand-lg  py-1 bg-black tx-white font-outfit-medium fixed-top">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
       <img src="Images/logo.svg" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse tx-white navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/services']">Services</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/projects']">Projects</a>
          </li>
        </ul>
        <div class="contact w-fit bg-main tx-white p-2 rounded">
          <a class="nav-link" [routerLink]="['/contact-us']">Contact Us</a>
        </div>
      
    </div>
  </div>
</nav>
