#icon{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}
i{
    color: var(--white-color);
}